
{% extends 'base.html' %}

{% block content %}
{% if perms.clinicmanagement.view_record %}
    <div class="row justify-content-around">
    <h4>Patients Records by date
    </h4>
  
   
<div class ="col-md-12">
<ul class="list-group">
    {% for record in record_list %}
    <li class="list-group-item d-flex text-align-center list-group-item-action">
        <a href="{% url 'patient_record' record.patient.id record.id %}">{{record}}</a>
    </li>
    {% endfor %}
</ul>
</div>

</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
None
{% endif %}
{% endblock%}