{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
{% if object %}

{% else %}
<h3> Enter New Patient's Detail</h3>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="form-row mt-3">
        <div class="form-group col-md-6 mb-0">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.last_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.date_of_birth|as_crispy_field }}
          </div>  
      </div>
    <div class="form-row">
             
      </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-12 mb-0">
          {{ form.address|as_crispy_field }}
        </div>
        <div class="form-group col-md-12 mb-0">
          {{ form.address_line_2|as_crispy_field }}
        </div>
      </div>
     <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.county|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.eircode|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
           
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.contact_number|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.email|as_crispy_field }}
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="form-group col-md-12 mb-0">
          {{ form.GP_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-12 mb-0">
          {{ form.GP_address|as_crispy_field }}
        </div>
      </div>
    
    
    <button type="submit" class="btn btn-primary">Save Patient</button>
</form>

{% endblock %}