{% extends 'base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/print_record.css' %}">

{% endblock %}

{% block content %}
<div class="row"></div>
<div class="row lead font-weight-normal">
      <div class="col-md-6">
        <h3><a href="{% url 'patient_detail' object.patient.id%}">
              <i class="fa fa-id-badge" aria-hidden="true"></i>
            Patient's Record</a></h3>
        </div>
            <div class="col-md-6">
                  <a href="{% url 'update_record' object.patient.id object.id %}" class="btn-xl text-white btn-circle btn-primary non_print"><i class="fa fa-pencil " aria-hidden="true"></i>
                  </a>
              </div>
        <div class="col-md-12 text-uppercase">
                <p><a href="{% url 'patient_detail' object.patient.id %}">{{object.patient}} {{object.patient.date_of_birth}}</a></p>
                <p>Age at clinic's visit on {{object.date_of_clinic}} is {{object.age}} </p>
        </div>
        
        <div class="col-md-12 border-bottom my-2">
              <p>
               Referral Indication: {{object.referral_indication}}
              </p>  
        </div>
        <div class="col-md-12 border-bottom my-2">
                <p>
                 Parity: {{object.parity}}
                </p>  
          </div>
          <div class="col-md-12 border-bottom my-2">
                <p>
                 Smear: {{object.smear}}
                </p>  
          </div>
          <div class="col-md-12 border-bottom my-2">
                <p>
                 Contraception: {{object.contraception}}
                </p>  
          </div>
          <div class="col-md-12 shadow-sm my-2">
                <p>
                 Medical History: {{object.medical_history|linebreaks}}
                </p>  
          </div>
          <div class="col-md-12 shadow-sm my-2">
                <p>
                 Surgical History: {{object.surgical_history|linebreaks}}
                </p>  
          </div>
          <div class="col-md-12 border-bottom my-2">
                <p>
                 Medications: {{object.medications}}
                </p>  
          </div>
          <div class="col-md-12 border-bottom my-2">
                <p>
                 Allergies: {{object.allergies}}
                </p>  
          </div>
          <div class="col-md-12 shadow-sm my-2">
                <p>
                 Current Symptoms: {{object.current_symptoms|linebreaks}}
                </p>
          </div>
          <div class="col-md-12 shadow-sm my-2">
                <p>
                 Investigations to date: {{object.investigations_to_date|linebreaks}}
                </p>  
          </div>
          <div class="col-md-12">
                <p>
                 Treatments to date: {{object.treatments_to_date|linebreaks}}
                </p>  
          </div>
          <div class="col-md-12">
                <p>
                 Examination today: {{object.examination_today|linebreaks}}
                </p>  
          </div>
          <div class="col-md-12">
                <p>
                 Further Plan: {{object.further_plan|linebreaks}}
                </p>  
          </div>
</div>

<button class="btn btn-primary non_print" onclick=window.print()><i class="fa fa-print" aria-hidden="true"></i>
      Print</button>

<a href="{% url 'print_record' object.patient.id object.id %}"><button class="btn btn-success non_print pill" ><i class="fa fa-print" aria-hidden="true"></i>
            Print GP Letter</button>
      </a>
<a href="{% url 'create_invoice' object.patient.id %}" class="float">
        <i class="fa fa-plus my-float"></i>
</a>
    
{% endblock %}
