{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}

<link rel="stylesheet" href="{% static 'css/print_invoice.css' %}">

{% endblock %}

{% block content %}

<div class="row" id="invoice_nav">
        <div class="col-md-3 justify-content-center">
                <a href=""onclick="location.href = document.referrer; return false;">
                        <i class="fa fa-arrow-circle-left fa-2x mx-3 text-secondary" aria-hidden="true"></i>
                </a>
                <a href="{% url 'patient_detail' object.patient.pk %}">
                        <i class="fa fa-user-circle-o fa-2x mx-2 text-secondary" aria-hidden="true"></i>
                </a>
        </div>

</div>
<div class="row mt-3 mb-5 lead" id="invoice">
        <h3>{% if object.is_paid %}
                Receipt
                {% else %}
                Invoice
                {% endif%}
        </h3>
        <div class="col-md-12 mt-5">
                <p>{{object.patient}}</p>
                <p>{{object.patient.address}}<br>
                {{object.patient.county}}</p>
                <p>{{object.created_on|date:'d/m/Y'}}</p>
                <p> {% if object.is_paid %}
                        Receipt No:
                        {% else %}
                        Invoice No:
                        {% endif%}
                        {{object.id}}
                </p>
        </div>
</div>
<div class="row my5-5 lead">
        <div class="col-md-7">
                {{object.services}}
        </div>
        <div class="col-md-5">
                €{{object.total_amount}}

        </div>
</div>
{% if object.is_paid %}
<div class="row mt-5 lead">
        <div class="col-md-12">
                <p>Invoice paid on {{object.paid_on}}.
                </p>
                <p>THANK YOU</p>
        </div>
</div>
{% else %}
<div class ="row mt-5 lead">
        <div class="col-md-12 text-danger font-weight-bold">
                Invoice is not paid.
        </div>
</div>
<div class="row mt-5 lead">
        <div class="col-md-12">
                <form method='POST'>
                        {% csrf_token %}

                        <div class="form-row">
                                <div class="form-group col-md-2">
                                        Invoice is Paid: {{form.is_paid}}
                                </div>
                                
                                <div class="form-group col-md-4">
                                        {{form.paid_on}}
                                </div>
                                <div class="form-group col-md-4">
                                        {{form.payment_type}}
                                </div>
                                <div class="form-group col-md-2">
                                        <button type="submit" class="btn btn-success">Paid</button>
                                </div>
                        </div>                 

                
                        
                </form>
        </div>
</div>
{% endif %}
<div class="row mt-5" id="print_button">
        <button class="btn btn-primary" onclick=window.print()><i class="fa fa-print" aria-hidden="true"></i>
                Print</button>
        {% endblock %}
</div>


