{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h3 class="text_align_center">Invoice of {{ patient }}</h3>
<p class="lead"> DOB : {{patient.date_of_birth}} | Age {{patient.age}}</p>


<form method="POST" class="lead">
    {% csrf_token %}
    <div class="form-row mt-5">
        <div class="form-group col-md-12 mb-0">
          {{ form.procedure|as_crispy_field }}
        </div>
        <div class="form-group col-md-5 mb-0">
          {{ form.payment_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0 lead">
            {{ form.is_paid|as_crispy_field }}
          </div> 
        <div class="form-group col-md-3 mb-0">
            {{ form.paid_on|as_crispy_field }}
          </div>    
      </div>
    <button type="submit" class="btn btn-primary">Save Invoice</button>
</form>

{% endblock %}